/*
  Name: takakazu-yamada
  Priority: 2000
*/
body{
  font-family: "メイリオ",
               Meiryo,
               "ヒラギノ角ゴ Pro W3",
               Hiragino Kaku Gothic Pro,
               "ＭＳ Ｐゴシック", sans-serif;
}
#body,
footer {
  background-color: #ffffff;
  margin: 0;
  color: #343533;
}

a:hover {
  color: #167b40;
}

.related-entry-read a {
  padding: 2px 10px;
  color: #111;
  background-color: #ffffff;
  font-size: 0.8em;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.related-entry-read a:hover {
  color: #fff;
  background-color: #f56993;
}

.entry-read {
  margin-bottom: 10px;
}
.entry-read a.entry-read-link {
  padding: 1px 10px !important;
  color: #fff;
  background-color: #6d706c;
  font-size: 0.8em;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.entry-read a.entry-read-link:hover {
  background-color: #ffffff
}

/************************************
** その他（Other）
************************************/
.category-description {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

/************************************
** ヘッダー(header)
************************************/
#header {
  background-color: #ffffff;
  height: 150px;
}

#site-title {
  margin: 50px 30px;
  text-align: center;
}

/************************************
** メニュー（menu）
************************************/
#navi {
  background-color: #ffffff;
  background-repeat: repeat-x !important;
  background-position: left bottom !important;
  background-size: 8px 8px;
}

@media screen and (max-width: 740px) {
  #navi {
    padding: 0;
  }

  #navi-in {
    padding: 5px 0;
    background-color: #ffffff;
    background-position: left bottom !important;
    background-size: 8px 8px;
  }
}
#navi ul {
  border: none;
  background-color: #ffffff;
  text-align: center;
}

#navi ul li {
  display: inline-block;
  margin: 0 10px 0 0;
  float: none;
}

#navi .menu {
  border-radius: 0;
}

#navi ul li a {
  padding: 0 10px;
  margin: 0 10px;
  color: #343533;
}

/************************************
** サーチフォーム（Search Form）
************************************/
#s {
  border-color: #aaa;
  background-color: #fff;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

/************************************
** メインカラム（#main、記事、固定ページなど）
************************************/
.post-meta {
  background-color: #f9f6f3;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/************************************
** index.phpのリスト
************************************/
#main {
  width: 100%;
  padding: 0 45px;
  border: 0;
}
#main .entry {
  overflow: visible;
}

.entry-thumb img, .related-entry-thumb img, #new-entries ul li img, #popular-entries ul li img, #prev-next img, #new-entries .new-entrys-large .new-entry img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/************************************
** 前の記事へ、次の記事へ
************************************/
.navigation a i {
  color: #e6bfab;
}

.navigation a:hover {
  background: #f9f6f3;
}
.navigation a:hover i {
  color: #f56993;
}

/************************************
** ページャー、ページナビゲーション
************************************/
a.page-numbers, .pager .current {
  margin: 0 1px;
  padding: 2px 8px;
  border: solid 1px #e6bfab;
  border-radius: 5px;
  background-color: #e6bfab;
}

.pager .current {
  border: solid 1px #e6bfab;
  color: #000;
  background-color: #e6bfab;
}

.pager a {
  color: #000;
  background: #fff;
  text-decoration: none;
}

.pager a:hover {
  border: solid 1px #000000;
  color: #fff;
  background-color: #ffffff;
}

.entry-read a{
  display:none;
}

/************************************
//** サイドバー（Sidebar）・ウィジェットなど
//************************************/
#sidebar {
  padding: 0 8px;
  box-sizing: border-box;
  background-color: #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#sidebar h4 {
  margin: 20px 0 10px 0;
  padding: 5px 0 5px 8px;
  color: #fff;
  background-color: #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
/************************************
** フッター(footer)
************************************/
#footer {
  padding: 0;
  background-color: #ffffff;
}

#footer,
#copyright a {
  font-size: 12px;
}

#footer-in {
  padding: 5px 0;
  background-color: #ffffff;
}

.footer-left {
  width: 100%;
}

#copyright {
  display: none;
}

/************************************
** TOPへ戻るボタン（Go to top）
************************************/
#page-top a, #mobile-menu a {
  color: #ffffff;
  background-color: #343533;
}

#page-top a:hover, #mobile-menu a:hover {
  border: none;
  color: #fff;
  background-color: #ffffff;
}

/************************************
** SNSシェアボタン
************************************/
/*SNSボタン*/
ul.snsp li a {
  color: #343533;
}